* {

}

header {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(85, 85, 228);
    color: white;
}

h1 {

}

#search {
    margin-left: 50px;
    margin-top: 90px;
}

#results {
    display: flex;
    flex-direction: column;
}